/* Aimee Maredia 
   Mr. Moore
   ICS4U
   Jan, 29th 2021
   main.css field for styling all the planner templates */

/* import Roboto google font for use */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:200);
/* body format for whole website */
body {
    background: #e9f1f7;
    color: #333333;
    margin-top: 0rem;
    overflow-x: hidden;
  }
  /*********************************************************__task page__***********************************************************/ 
  /* main div*/
  .main {
    transition: margin-left .5s; 
    padding: 0px 10px;
  }
  /* main body */
  #main{
    margin-left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    margin-left: 0;
    overflow-x: hidden;  
  }
  /* bottom logo */
  #logo{
    position: absolute;
    top: 570px;
    height: 15%;
    width: 15%;
  }
  /* top logo */
  #navlogo{
    width: 53px;
  }
  /* input form */
  #inputform{
    margin-left: 16%;
    margin-top: 0px;
    line-height: 35px;
  }
  /* right sidebar */ 
  #rightnav {
    height: 100%;
    width: 27%; 
    position: fixed; 
    z-index: 2;
    top: 5;
    right: 0;
    background-color: #2274a5; 
    overflow-x: hidden;
    padding-top: 20px;
    max-height: calc(100vh - 3rem);
    overflow-y: scroll;
    box-shadow: 0px 0px 8px;
  }
  /* left sidebar  */
  #leftnav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 5;
    left: 0;
    background-color: #e7dfc6; 
    overflow-x: hidden; 
    padding-top: 20px;
    transition: 0.5s;
  } 
  /* leftnav active fields*/
  #leftnav a{
    color: black;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display:block;
    transition: 0.2s;
  }
  /*sidenav close 'x'*/
  #btnclose{
    position:relative;
    left:14rem;
    top: -1.25rem;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #2274a5;
    text-decoration: none;
  }
  /* top navigation */
  .topnav {
    background-color: #2d3142;
    overflow: hidden;
    z-index: -1;  
  }
  /* topnav links */
  .topnav a {
    float: left;
    color: #e9f1f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover, .topnav a.active{
  background-color: #e9f1f7;
  color: black;
}
 /* priority and task article field */
#datetext{
  font-family: 'Roboto-Condensed';
  float:right;
  font-size: large;
}
/* priority and date label */ 
#rightsidelabel{
  font-family: 'Roboto-Condensed';
  font-size: large;
}
/* label for task form fields*/
#label, #label-title{
  font-family: 'Roboto';
}
/* rigth side bar article box */  
#article{
  border-radius: 16px;  
  line-height: 35px;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px;
}
/*article header style */
#articleheader{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #c6dae9;
  font-family: 'Roboto';

}
/* text and password inputs*/
input[type=text], input[type=password]{
  padding: 6px; 
  border-radius: 16px;
  border: none;
  box-shadow: 1px 1px 2px;
}
input[type=text]:focus, input[type=date]:focus, #priority:focus, input[type=number]:focus, #desc:focus, input[type=email]:focus{
  outline-style: none;
  background-color: #ebebeb;

}
/* submit input*/
input[type=submit]{
  padding: 5px;
  margin-left: 300px;
  width: 275px;
  border-radius: 16px;
  background-color: #e7dfc6;
  color: black;
  border: none;
  box-shadow: 1px 1px 2px;
}
/*email */
input[type=email]{
  padding: px;
  border-radius: 16px;
  border: none;
  box-shadow: 1px 1px 2px;
}
/*edit form back*/
#backedit{
  padding: 5px 140px 5px 115px;
  width: 20px;
  border-radius: 16px;
  background-color: #e7dfc6;
  color: black;
  border: none;
  text-align: center;
  box-shadow: 1px 1px 2px;
  position: absolute;
  left: 270px;
  top: 625px;
}
/* date input */
#date{
  padding: 5px;
  width: 143%;
  border-radius: 16px;
  border: none;
  box-shadow: 1px 1px 2px;
}
/* hours planned input */
#hours_planned{
  padding: 6px;
  width: 143%;
  border-radius: 16px;
  border: none;
  box-shadow: 1px 1px 2px;
}
/*priority input */
#priority{
  padding: 6px;
  width: 143%;
  border-radius: 16px;
  height: 43px;
  border: none;
  box-shadow: 1px 1px 2px;
  border-width: 2px;
  font-family: "Roboto";
}
/*type input*/
#type{
  width: 143%;
}
/*description input*/
#desc{
  width: 573px;
  height:100px;
  border-radius: 16px;
  border-style:solid;
  border-width: 2px;
  border: none;
  box-shadow: 1px 1px 2px;
}
/* edit, done and delete buttons on all pages*/
#edit, #done, #delete, #doned, #deleted, #helpdone, #helpdelete, #back{
  font-family: 'Roboto';
  font-weight: 400;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  position: relative;
  box-shadow: 1px 1px 2px;
  background-color: #e7dfc6;
  border-style: none;
}
/* edit button */
#edit { 
  left: 18%; 
  top: 0px;
}
/* done button */
#done {
  left: 18%; 
  top: 0px;
}
/* delete button */
#delete {
  left: 18%; 
  top: 0px;  
}
/*back label*/
#cancellabel{
  position:relative;
  right: 357px;
  top: -48px;
} 
/* task name */
  #articletask{
    font-family: 'Roboto';
    position: relative;
    top: 5px;
    padding-top: 2px;
    font-size: x-large;
    line-height: 40px;
    margin-left: 0px;
    transition: all .1s ease-in-out; 
    }
  /* task link */
  #articletask a:hover{
    color:#2274a5 ;
    text-decoration: none;
    transform: scale(1.01); 
    text-decoration: none;
    color: #333333;
  }
/***********************************************************login, register and profile pages    */     
  #login-main{
    font-family: 'Roboto';
    background-color: #f8f5ea;
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    box-shadow: 1px 1px 2px;
    border-radius: 16px;
  }
  #logout{
    font-family: 'Roboto';
    background-color: #f8f5ea;
    position: absolute;
    font-size: large;
    margin-top: 17%;
    margin-left: 22%;
    width: 28%;
    box-shadow: 1px 1px 2px;
    border-radius: 16px;
  }
  #registerpg{
    font-family: 'Roboto';
    background-color: #f8f5ea;
    position: absolute;
    margin-top: 3%;
    margin-left: 12%;
    width: 50%;
    box-shadow: 1px 1px 2px;
    border-radius: 16px;
    line-height: 22px;
  }
#profilepg{
  font-family: 'Roboto';
  background-color: #f8f5ea;
  border-radius: 16px;
  width:50%;
  line-height: 22px;
  height: 650px;
  position: relative;
  left: 375px;
  box-shadow: 0 0 10px;
}

  /************************************************************dashboard page      */
  /*///////////////////////////////////////////////////// alltasks cell formatting /////////////////////////////////////////////////*/ 
  #cellid1, #cellid2, #cellid3, #cellid4, #cellid5, #cellid6, #cellid7, #cellid8, #cellid9, #cellid10, #cellid11, #cellid12{
    font-family: 'Roboto';
    position:relative;
    top: 10px;
  }
  #cellid1{
    margin-left: 20px;
    width: 60px;  
  }
  #cellid2{
    top:5px;
    width: 170px;  
  }
  #cellid3{
    width: 80px;
  }
  #cellid4{
    width: 120px;
  }
  #cellid5{
    width: 100px;
  }
  #cellid6{
    width: 120px;
  }
  #cellid7{
    width: 110px;
  }
  #cellid8{
    width: 40px;
  }
  #cellid9{
    width: 70px;
  }
  #cellid10{
    width: 130px;
  }
  #cellid11{
    width: 95px;
  }
  #cellid12{
    width: 55px;
  }
  /*///////////////////////////////////////////////////////////////////////////*/
  /* article spacing*/
  #page{
    margin-top: -12px;
  }
  /* alltasks scroll menu */ 
  #navigation{
    background-color:#e9f1f7;
    border-radius: 16px;
    overflow-y: scroll;
    height: 320px;
    border: none;
    border-radius: 16px;
  }
  /* all task articles*/
  #alltasksart{
    background-color: white;
    border: none;
    border-radius: 16px;
    box-shadow: 1px 1px 1px 0px;
  }
  /*dashboard cards*/ 
  #carddash{
  background-color: #ffffff;
  border-radius: 16px;
  line-height: 20px;
  padding: 2px 15px;
  border: "none";
  box-shadow: 2px 2px 2px 0px;
  font-family: 'Roboto';

  }
  /* dashboard card link formats */ 
  .card-title, .card-title:visited,.card-title:active{
    text-decoration: none;
    font-family:'Roboto';
    color: #0e052e;
  }
  /* dashboard number format */ 
  .card-text{
    font-family: 'Roboto';
    font-size: larger;
    color: #000000;
    position:relative;
    top: -5px;
    text-align: center;
    border-radius: 10px;
    margin-left: 90%;
    margin-top: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e7dfc6;
    box-shadow: 2px 2px 2px 0px;
  }
  /* dashboard link hover */ 
  .card-title:hover{
    text-decoration: none;
    font-family: 'Roboto';
    color: #2274a5;   
  }
  /* all tasks complete button */ 
  #completebutton{
    font-family: 'Roboto';
    background-color: #e7dfc6;
    border: 0px inset black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    box-shadow: 1px 1px 1px 0px;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 16px;
    position: relative;
    float: right;
    top: 0px;
  }
  /* complete button link color*/
  #completebutton a{
    font-family: 'Roboto';
    color:#000000;
  }
/*********************************************************detail page          */ 
/*detail page box*/
  #detaildiv{
    position:relative;
    height: 620px;
    left: 25%;  
    box-shadow: 2px 2px 2px 0px;
    border-radius: 16px;
  }
  /*detail title*/
  #title1{
  font-family: 'Roboto';
  font-weight: 500;
  position: relative;
  top: 5px;
  font-size: xx-large;
  line-height: 70px;
  margin-left: 25px;
  color: #2d3142;
  }
  /* detail header */ 
  #detailheader{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: large;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #97afc0;

  }
  /*detail labels*/
  #detail, #detail1, #detail3{
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 25px;
    position: relative;
    font-size: x-large;
    margin-left: 25px;
  }
  /*individual detail fields*/ 
  #detail{
    display: inline;
    position:relative;
    top: -5px;
    padding: 0px;
    float: right;
  }
  #detail1{
    line-height: 24px;
  }
  #detail3{
    line-height: 24px;
  }
  /*done and delete buttons */
  #doned {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #e7dfc6;
    left: 100px; 
    top: 200px;
    position: absolute;
    left: 72%;
    top: 525px;
  }
  #deleted {
    font-family: 'Roboto';
    font-weight: 400;
    background-color:  #e7dfc6;
    position: absolute;
    left: 85%; 
    top: 525px; 
  }
  #back{
    font-family: 'Roboto';
    font-weight: 400;
    background-color:  #e7dfc6;
    position: absolute;
    left: 6%; 
    top: 525px; 
  }
  /*links*/
  #doned a, #deleted a, #helpdone a, #helpdelete a, #back a{
    color: #000000;
  }
  /* detail description */
  #detaildesc{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    left: 45px;
    top: 425px;
  }
  ul {
    margin: 0;
  }
  /*content section class*/
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    overflow-y: hidden;
  } 
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) and (max-width:1000px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}
/*scroll class format*/
.scroll{
  max-height: 50%;
  overflow-y: auto;
}
/* with margin format */
.with-margin{
  margin-bottom: 3px;
}
/* styling for grow class */
.grow { 
  transition: all .1s ease-in-out; 
  }
/* styling for grow class links when hovering */
.grow:hover { 
  transform: scale(1.01); 
  text-decoration: none;
  color: #333333;
}
/* Style the links inside the navigation bar */
.test {
  width: 170px;
  height: 170px;
  }
/*card header*/
.card-header{
  font-family: 'Roboto-Condensed', sans-serif !important;
}
/*input spacing*/
#space{
  padding-right: 100px;  
}
/* account img */ 
.account-img{
  background-color: #fff;
}
/* card header format*/
.card-header{
  height: 45px;
}
/* title class format*/
.title{
  color: #000000;
  font-size: x-large;
  margin-top: 10px;
}
/*side entry format*/
#sideentry{
  padding:0px 20px; 
}
/* On smaller screens, where width is less than 1275px, change the style of the page*/
@media screen and (max-width: 1275px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  #rightsidelabel{
    font-family: 'Roboto-Condensed';
    font-size: large;
  }
  /* label for task form fields*/
  #label, #label-title{
    font-family: 'Roboto';
    font-size: medium;
  }
  /* rigth side bar article box */  
  #article{
    border-radius: 16px;  
    line-height: 20px;
    background-color: white;
    box-shadow: 4px 4px 5px;
  }
  /*article header style */
  #articleheader{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #c6dae9;
    font-family: 'Roboto';
  
  }
  /* article buttons */
  #edit, #done, #delete{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: medium;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 16px;
    position: relative;
    box-shadow: 1px 1px 2px;
    background-color: #e7dfc6;
    border-style: none;
  }
  /* done button */
  #doned {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #e7dfc6;
    left: 100px; 
    top: 200px;
    position: absolute;
    left: 60%;
    top: 525px;
  }
  /* delete button */
  #deleted {
    font-family: 'Roboto';
    font-weight: 400;
    background-color:  #e7dfc6;
    position: absolute;
    left: 76%; 
    top: 525px; 
  }
   /*dashboard cards*/ 
   #carddash{
    background-color: #ffffff;
    border-radius: 16px;
    line-height: 17px;
    padding: 2px 15px;
    border: "none";
    box-shadow: 2px 2px 2px 0px;
    font-family: 'Roboto';
  
    }
    /* dashboard card link formats */ 
    .card-title, .card-title:visited,.card-title:active{
      text-decoration: none;
      font-family:'Roboto';
      font-size: medium;
      color: #0e052e;
    }
    /* cell formatting */
    #cellid1, #cellid2, #cellid3, #cellid4, #cellid5, #cellid6, #cellid7, #cellid8, #cellid9, #cellid10, #cellid11, #cellid12{
      font-family: 'Roboto';
      position:relative;
      top: 10px;
      font-size: small;
    }
    #cellid1{
      margin-left: 20px;
      width: 50px;  
    }
    #cellid2{
      top:5px;
      width: 120px;  
    }
    #cellid3{
      width: 70px;
    }
    #cellid4{
      width: 100px;
    }
    #cellid5{
      width: 85px;
    }
    #cellid6{
      width: 100px;
    }
    #cellid7{
      width: 95px;
    }
    #cellid8{
      width: 40px;
    }
    #cellid9{
      width: 60px;
    }
    #cellid10{
      width: 100px;
    }
    #cellid11{
      width: 85px;
    }
    #cellid12{
      width: 50px;
    }
    .card-text{

      font-size: medium;
    
    }
}
/* help pahe div */
#helpdiv{
  margin-left: 200px;
}
.show {display:block;}

