{% extends 'planner/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% for task in tasks %}
  <body onload="javascript:change('{{task.priority}}')"></body>
<div id="inputform" class="container" oncontextmenu="">
  <br>
  <h2 id='label-title'>Task</h2>

  <form class="contact-form" method="post" action="/update_task/" id='forminput'>
    
    {% csrf_token %}
    <label for="task" id="label">Task Name:</label><br>
    <input type="text" class="w-25" id="task" name="task" value= {{task.task}}><br>
    <input type="hidden" id="hidden" name="hidden" value="{{task.id}}">
    <table> 
      <tr>
        <td><label for="date" id='label'>Date:</label></td>
        <td><label for="type" id='label'> Type:</label></td>
      </tr>
      <td id="space"><input type="date" id="date" name="date" value= "{{task.date|date:'Y-m-d'}}"></td>
      <td><input type="text" id="type" name="type" value={{task.type}}></td>
      <tr>
        <td> <label for="hours_planned" id='label'>Hours Planned:</label><br></td>
        <td> <label for="priority" id='label'>Priority:</label></td>
      </tr>
      <td id="space"><input type="number" id="hours_planned" name="hours_planned" value="{{ task.hours_planned }}"></td>
    
      <td><select name="priority" id="priority" >
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select></td>
    </table>
  
    <label for="desc" id='label'>Description:</label><br>

    <textarea name="desc" id="desc" cols="100" rows="5" value= "">{{task.desc}}</textarea><br><br>
    <input type="submit"  id="label" name="tsubmit" class='w-25' value="Change">
    <button id="label">Back</button>


  </form>
  {% endfor %}
  {% endblock content %}