<!--Aimee Maredia 
    Mr. Moore
    ICS4U
    Jan. 29th 2021
    topnav.html file for top navigation bar
-->
<!-- load static files-->
{% load static %}
<!-- top navigation-->
<div class="topnav">
    <!-- add logo picture-->
    <img class='' style="float: left;" src="{% static 'logobar.png' %}" id="navlogo" >
    <!-- planner home tab-->
    <a href="{% url 'planner-home' %}" style="font-family: 'Roboto';">Home</a>
    <!-- help tab-->
    <a href="{% url 'help' %}" style="font-family: 'Roboto';">Help</a>
    <!-- if logged in -->
    {% if user.is_authenticated %}
    <!-- logout tab-->
    <a href="{% url 'logout' %}" style="float: right; font-family: 'Roboto';">Logout</a>
    <!--profile tab-->
    <a href="{% url 'profile' %}" style="float: right; font-family: 'Roboto';">Profile</a>    
    {% else %}
    <!-- register tab-->
    <a href="{% url 'register' %}" style="float: right; font-family: 'Roboto';"">Register</a>
    {% endif %}
  </div>