<!-- Aimee Maredia 
     Mr. Moore
     ICS4U 
     Jan 29,2019
     register.html file for the user registration page -->

<!-- load static pages -->
{% load static %}
<!-- load crispy forms formatting -->
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <!-- include header file-->
    {% include 'planner/header.html' %}
</head>
<body>
    <!-- div for register page-->
    <main role="main" class="container">

        <div class="content-section"  id='registerpg'>
            <form method="POST" >
                <!-- security token-->
                {% csrf_token %}
                <fieldset class="form-group">
                    <!-- render form-->
                    <legend class="border-bottom mb-2">Join</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <!-- submit button-->
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <!-- login link-->
                    Already have an account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </main>
        <!-- logo-->
    <div class="" id="logo">
        <img class='w-75' src="{% static 'logo.png' %}">
      </div>
    <!-- include footer file-->
    {% include 'planner/footer.html' %}
</body>

</html>