/* Aimee Maredia 
   Mr. Moore
   ICS4U 
   Jan 29,2019
   styles.css file for formatting and styling for the calendar */

/*styling for the full calendar****************************************************************************************/
.calendar {
  margin-left: 160px;
  margin-right: 100px;
  position: relative;
  top: -35px;
  font-size: 13px;
  border: none;
  background-color: #e7dfc6;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 0px;

}

/*styling for rows in the calendar****************************************************************************************/
.calendar tr{
  border: 1px solid black;
  border-radius: 16px;
  font-family: 'Roboto Condensed';
  font-weight: 200;
  font-style: normal;
}
  
/*styling for header in the calendar****************************************************************************************/
.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 10px;
  border-radius: 16px;
}
  
/*styling for each cell in the calendar****************************************************************************************/
.calendar td {
  border: 1px solid black;
  width: 170px;
  height: 110px;
  padding: 20px 0px 0px 5px;
  border-radius: 16px;
}
  
/*styling for month name in the calendar****************************************************************************************/
.month {
  font-size: 25px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
}
  
/*styling for date name in the calendar****************************************************************************************/
.date {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 300;
}
  
/*styling for list within date in the calendar****************************************************************************************/
ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}
  
/*styling for date links in the calendar****************************************************************************************/
a {
  color: #060b0c;
}

/*styling for rows in the calendar****************************************************************************************/
.left {
  float: left;
}

/*styling for rows in the calendar****************************************************************************************/
.right {
  float: right;
}
  
/*styling for prev button in the calendar****************************************************************************************/
#btnleft {
  outline: none;
  color: #e7dfc6;
  border-color: #e7dfc6;
  background-color:  #2d3142;
  box-shadow: 1px 1px 1px 0px;
  position:absolute;
  bottom: 10px;
  left:5px;
  
}

/*styling for next button in the calendar****************************************************************************************/
#btnright {
  outline: none;
  color: #e7dfc6;
  background-color:  #2d3142;
  border-color: #e7dfc6;
  box-shadow: 2px 2px 2px 0px;
  position:absolute;
  bottom: 10px;
  right:5px;
  
}
  
/*styling for rows in the calendar****************************************************************************************/
.clearfix {
  margin: 15px;
}

/* styling for the date text**********************************************************************************************************/
.h6{
  font-family: 'Roboto', sans-serif !important;
  font-size: small;
  color: black;
}

/*styling for calendar weekday names****************************************************************************************/
#calLink{
  font-family: 'Roboto Condensed';
  font-weight: 300;
  color: #2d3142;
}
/*styling for calendar weekday names when hover****************************************************************************************/
#calLink:hover{
   color: #b1b5ca;
}